$color-primary: #5A98D0;
$color-primary-dark: #356EAD;
$color-secondary: #1F3F68;
$color-bg-dark-blue: #316099;
$color-white: #FFFFFF;
$color-bg-gradient: #98c3e8;

$font-gilroy: 'Gilroy', sans-serif;
$font-galien: 'Galien', serif;
